__pycache__/
*.py[cod]
*.pyc
*.so
*.egg-info/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/
dist/
build/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
.DS_Store
.env
.venv/
venv/
docs/build/
